/*No tocar este codigo*/ 
*{
    font-family: 'ABeeZee', sans-serif;
}
/*LOGIN CONFIGURATION PAGE*/
.form-login {
	max-width: 330px;
	margin: 100px auto 0;
	background: transparent;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
	margin: 0;
	padding: 25px 20px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 300;
    font-weight: bold;
}
body{
    background-image:url(../image/dulce_princesa_echa_por_mi_by_moii_dreamer-d50pvps.jpg);
    background-size: cover;
    height: 562px;
}
button{
    margin-top: 5%;
    background-color: #ff0040;
    color: #fff;
}
button:hover{
	background-color: transparent;
	border:3px solid #ff0040;
	font-weight: bold;
	color: #ff0040;
}