*{
	font-family: 'ABeeZee', sans-serif;
}
.title {
	width: 100%;	
	position: fixed;
  	border-bottom: 2px solid #FF0040;
}

.titulo {
  	background-color: #FF0040;
  	padding: 1%;
  	color: #fff;
  	font-weight: bold;
  	font-size: 30px;
  	border-bottom: 2px solid #FF0040;
}

.box {
	padding: 2% 10%;
}

.agregar{
  	margin: 2% 0;
  	background-color: #FF0040;
  	border: none;
  	color: #fff;
}
.agregar:hover{
	background: transparent;
	border:solid #ff0040 2px;
	color:#ff0040;
	font-weight: bold;
}

#texto {
	padding: 22% 10% 10%;
}

.list-work{
	margin-top: 3px;
  	padding: 2%;
  	background-color: #FE2E64;
  	color: #fff;
}
.list-work:first-child{
	 margin-top: 15%;
}
.nota {
 	margin-left: 2%;
}

.list-work button {
	float: right;
	background-color: #fff;
  	border:none;
  	border-radius: 5px;
}
.list-work button i{
	color: #ff0040;
}
.glyphicon{
	top: 2px;
}

@media (max-width: 400px) {
  #texto {
    padding: 40% 10% 10%;
  }
}